  <!-- <div class="row">
    <div class="col-sm-12">
      <H5><a routerLink="/article/1" class="readmore">ARTICLE COMPONENT</a></H5>
      <p><span class="nav">Posted by USER on DATE</span></p>
    </div>
  </div> -->

<div class="container">
  <div style="height:90px;" class="row"></div>
  <div class="row">
    <div class="col-sm-12"><a routerLink="/" class="breadcrumb">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;Articles</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <H3 style="color:maroon">Articles</H3>
    </div>
    <app-search></app-search>
    <!-- <div class="col-sm-6 text-right">
      <form action="searchFix.do" method="post" name="" class="form-inline">
        <div class="form-group"><input type="text" name="keyword" placeholder="Search Fixes &amp; Articles"
            class="form-control input"></div><button type="Submit" class="btn btn-primary">Search</button>
      </form>
    </div> -->


  </div>

  <div *ngFor="let article of articles">
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
        <!-- "_id": string,
      "id": number,
      "title":string,
      "body": string,
      "author": string,
      "publishedDate": string,
      "published": number -->

  <div class="row">
    <div class="col-sm-12">
      <H5><a routerLink="/article/{{article.id}}" class="readmore">{{article.title}}</a>
      </H5>
      <p><span class="nav">Posted by {{article.author}} on {{article.publishedDate}}</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  </div>

