<!-- {{article | json}} -->
<div class="component">
<div class="container">
    <div *ngFor="let article of articles">
  <div style="height:90px;" class="row"></div>
  <div class="row">
    <div class="col-sm-12">
      <a routerLink="/" class="breadcrumb">Home</a>
      &nbsp;&nbsp;>&nbsp;&nbsp;Articles&nbsp;&nbsp;>&nbsp;&nbsp;{{article?.title}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <H3 style="color:maroon">{{article?.title}}</H3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div [innerHTML]="article?.body"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  </div>
</div>
</div>
