<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="sign-in">sign-in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="sign-up">sign-up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="dashboard">dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="forgot-password">forgot-password</a>
  </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="email-verification">email-verification</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="elements/">elements</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" href="people/">people</a>
  </li>
</ul>
<router-outlet></router-outlet>
