<div class="component">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark">
      <div class="container-fluid">
        <h2 class="fw-bold">My Future Frogs!</h2>
        <div *ngIf="frogError?.message">
          <div class="alert alert-danger" role="alert" id="frogError">
            Some error occurred. Please try again
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item" *ngFor="let frog of selectedFrogs" [id]="frog.id">
              <button class="btn btn-outline-light">{{frog.name}}<img class="icon" (click)="deSelect(frog)" src="assets/x-circle-fill.svg"></button>
            </li>
          </ul>
          <!-- SEARCH -->
        </div>
      </div>
    </nav>

    <hr />

    <div class="album py-5 bg-light">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div *ngFor="let frog of frogList" [id]="frog.id" class="col">
          <div class="card shadow-sm">
                            <a *ngIf="frog" (click)="select(frog)">
                  <img class="icon" src="assets/basket.svg">
                </a>
            <img [src]="frog.imageUrl" class="card-img-top">
            <div class="card-body">
              <div id="frog.id">{{ frog.name }}
              </div>
              <div class="col-md-4 frog-item d-flex justify-content-between align-items-center">
                <a *ngIf="frog.description" (click)="showDescription==frog.id?showDescription=0:showDescription=frog.id">
                  <img class="icon" src="assets/info-circle.svg">
                </a>
              </div>
              <ng-container *ngIf="showDescription==frog.id && frog.description">
                <p class="text-white bg-dark"><small>{{ frog.description }}</small></p>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
