

.container{
  opacity: .8;
  transition: none;
}
/* .container:hover{
  opacity: 1;
  transition: none;
  margin-left:20px;
  margin-right:20px;
} */

.navbar-dark {
  color: white;
}

.card-img-top {
 max-width: 101px;
}

.icon {
  padding: 4px;
}

.album {
 padding: 10px;
}

.text-white {
   padding: 10px;
}

#navbarCollapse {
  overflow: auto;
}
