<div class="component">
  <div style="height:90px;" class="row"></div>
  <div class="well">
    <h1 style="color:maroon;">Featured Locations</h1>
    <p class="lead">Real-world crowd-sourced tips, fixes, and in-depth articles for Dodge Jeep and Chrysler vehicles.
    </p>
    <div class="row">
      <div class="col-sm-12">
            <app-search></app-search>
        <!-- <form action="searchFix.do" method="post" name="" class="form-inline">
          <div class="form-group"><input type="text" name="keyword" placeholder="Search Fixes and Articles"
              class="form-control input"></div><button type="Submit" class="btn btn-primary">Search</button>
        </form> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <h4>Restaraunts</h4>
      <p>
        <a (click)="doSearch('Jeep','Cherokee','XJ')">Restaraunt 1</a><br>
        <a (click)="doSearch('Jeep','Liberty','KJ')">Restaraunt 2</a><br>
        <a (click)="doSearch('Jeep','Liberty','KK')">Restaraunt 3</a><br>
        <a (click)="doSearch('Dodge','Nitro','KA')">Restaraunt 4</a><br>
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <h4>Bars</h4>
      <p><a (click)="doSearch('Jeep','Wrangler','TJ')">Bar 1</a><br>
        <a (click)="doSearch('Jeep','Wrangler','JK')">Bar 2</a></p>
    </div>
    <div class="col-sm-4 text-center">
      <h4>Beach</h4>
      <p><a (click)="doSearch('Jeep','Grand Cherokee','ZJ')">Beach 1</a><br>
        <a (click)="doSearch('Jeep','Grand Cherokee','WJ')">Beach 2</a><br>
        <a (click)="doSearch('Jeep','Grand Cherokee','WK')">Beach 3</a><br>
        <a (click)="doSearch('Jeep','Commander','XK')">Beach 4</a><br>
    </div>
    <div class="col-sm-4 text-center">
      <h4>Sports</h4>
      <p><a (click)="doSearch('Chrysler','Pacifica','CS')">Sports 1</a><br>
        <a (click)="doSearch('Dodge','Journey','JC')">Sports 2</a><br>
        <a (click)="doSearch('Chrysler','PT Cruiser','PT')">Sports 3</a><br>
    </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
</div>
