<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      thisisgalveston Logo.png
      <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo-white.svg" width="38" height="30"
        class="d-inline-block align-top" alt="Bootstrap" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button"
   data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-5">
    <div class="container-fluid">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/palm-tree-logo-vector.jpg" width="57" height="45" class="d-inline-block align-top" alt="Bootstrap" loading="lazy">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()" id="bt">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ng-container *ngIf="!show">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-link" routerLink="/fixes-all">All Fixes</a>
        </li>
        <li class="nav-item">
          <a class="navbar-link" routerLink="/article-list">Articles</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-autonavbar-right">
        <li class="nav-item">
          <a class="navbar-link" routerLink="/bootstrap">bootstrap</a>
        </li>
        <li class="nav-item">
          <a class="navbar-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="show && !firstClick">
    <div class="navbar-nav open menu">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <button class="btn btn-light" routerLink="/fixes-all">All Fixes</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-light" routerLink="/article-list">Articles</button>
        </li>
      </ul>
      <ul class="navbar-nav mr-autonavbar-right">
        <li class="nav-item">
          <button class="btn btn-light" routerLink="/bootstrap">bootstrap</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-light" routerLink="/login">Login</button></li>
      </ul>
    </div>
  </ng-container>
  </div>
</nav>
<br>
