<!-- {{searchResults | json}} -->
<div class="component">
<div class="container">
  <div style="height:90px;" class="row"></div>
  <div class="row">
    <div class="col-sm-12"><a href="/" class="breadcrumb">Home</a>&nbsp;&nbsp;> Fixes &gt; Jeep &gt; Cherokee</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <H3 style="color:maroon">{{searchTitle}}</H3>
    </div>
    <div class="col-sm-4 text-right">
          <app-search></app-search>
      <!-- <form action="searchFix.do" method="post" name="" class="form-inline">
        <div class="form-group"><input type="text" name="keyword" placeholder="Search Fixes &amp; Articles" class="form-control input"></div>
        <button type="Submit" class="btn btn-primary">Search</button>
      </form> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

<div *ngFor="let fix of searchResults">
  <div class="row">
    <div class="col-sm-12">
      <p><span> <strong>Vehicle:&nbsp;</strong></span><span>{{fix.vehicle}}</span></p>
      <p><span> <strong>Concern:&nbsp;</strong></span><span>{{fix.concern}} </span></p>
      <p><span> <strong>Cause:&nbsp;</strong></span><span>{{fix.cause}}</span></p>
      <p><span> <strong>Resolution:&nbsp;</strong></span><span>{{fix.resolution}}</span></p>
      <p><span> <strong>Details:&nbsp;</strong></span><span>{{fix.details}}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
</div>
</div>
</div>
